

.fundo{
    background-color: #6079d0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AppLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}



.executarLogin{
    margin-top: 1em;
    padding: 3em;
    background-color: rgb(255, 255, 255);
    min-width: 3em;
    min-height: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
}

.textLogin1{
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
}


.textLogin2{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.buttonLogin{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid white;
  color: white;
  margin: 20px 0px;
  padding: 10px 60px;
  border-radius: 15px;
  background-color: #6079d0;
  font-weight: 500;
  font-size: 25px;
  transition-duration: 0.4s;
}

.buttonLogin:hover{
  cursor: pointer;
  border: 1px solid;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, .2);
  text-shadow: 0 0 15px white;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

.traçoDecorativo{
  width: 8vw;
  margin-top: -20px;
  display: flex;
  padding-bottom: 3vh;
}

.executarLogin div {
    margin-top: 1em;
}


.InputLogin {
    width: 380px;
}

#inputNome, #inputEmail, #inputTelefone, #inputSenha {
    background-repeat: no-repeat;
    background-size: 2em;
    background-position-x: 0.8vw;
    background-position-y: center;
    font-size: 15px;
    padding: 15px 55px;
    padding-right: 15px;
    border-radius: 15px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
}

#inputNome {background-image: url(../icones/icone-nome.png);}
#inputEmail {background-image: url(../icones/icone-email.png);}
#inputTelefone {background-image: url(../icones/icone-telefone.png);}
#inputSenha {background-image: url(../icones/icone-senha.png);}